In [62]:
import pandas as pd

### Transform province and population data

In [63]:
df_prov_pop = pd.read_csv("extracted_data/province_population.csv")
df_prov_pop.head()

       Province  Population
0  Metro Manila  13,484,462
1          Cebu   5,151,274
2        Cavite   4,344,829
3       Bulacan   3,708,890
4        Laguna   3,382,193

In [64]:
df_prov_pop.value_counts()

Province           Population
Abra               250,985        1
Philippines        109,033,245    1
Pampanga           2,900,637      1
Palawan            1,246,673      1
Oriental Mindoro   908,339        1
                                 ..
Davao Occidental   317,159        1
Cotabato           1,490,618      1
Cebu               5,151,274      1
Cavite             4,344,829      1
Zamboanga del Sur  2,027,902      1
Name: count, Length: 83, dtype: int64

In [65]:
df_prov_pop['Province'].unique()

array(['Metro Manila', 'Cebu', 'Cavite', 'Bulacan', 'Laguna', 'Rizal',
       'Negros Occidental', 'Pangasinan', 'Batangas', 'Pampanga',
       'Iloilo', 'Davao del Sur', 'Nueva Ecija', 'Quezon',
       'Camarines Sur', 'Leyte', 'Zamboanga del Sur', 'Isabela',
       'Misamis Oriental', 'South Cotabato', 'Maguindanao', 'Bukidnon',
       'Tarlac', 'Cotabato', 'Negros Oriental', 'Bohol', 'Albay',
       'Cagayan', 'Palawan', 'Lanao del Sur', 'Davao del Norte',
       'Lanao del Norte', 'Zamboanga del Norte', 'Sulu', 'Zambales',
       'Masbate', 'Oriental Mindoro', 'Sultan Kudarat', 'Bataan',
       'Sorsogon', 'Benguet', 'La Union', 'Capiz', 'Samar',
       'Davao de Oro', 'Agusan del Norte', 'Agusan del Sur', 'Ilocos Sur',
       'Zamboanga Sibugay', 'Surigao del Sur', 'Northern Samar',
       'Camarines Norte', 'Misamis Occidental', 'Aklan', 'Antique',
       'Ilocos Norte', 'Davao Oriental', 'Sarangani', 'Basilan',
       'Surigao del Norte', 'Occidental Mindoro', 'Nueva Vizcaya',
       'Eastern Samar', 'Tawi-tawi', 'Southern Leyte', 'Davao Occidental',
       'Romblon', 'Catanduanes', 'Abra', 'Marinduque', 'Aurora',
       'Kalinga', 'Ifugao', 'Quirino', 'Guimaras', 'Biliran',
       'Mountain Province', 'Dinagat Islands', 'Apayao', 'Siquijor',
       'Camiguin', 'Batanes', 'Philippines'], dtype=object)

In [66]:
df_prov_pop = df_prov_pop[df_prov_pop.Province != "Philippines"]
df_prov_pop['Province'].unique()

array(['Metro Manila', 'Cebu', 'Cavite', 'Bulacan', 'Laguna', 'Rizal',
       'Negros Occidental', 'Pangasinan', 'Batangas', 'Pampanga',
       'Iloilo', 'Davao del Sur', 'Nueva Ecija', 'Quezon',
       'Camarines Sur', 'Leyte', 'Zamboanga del Sur', 'Isabela',
       'Misamis Oriental', 'South Cotabato', 'Maguindanao', 'Bukidnon',
       'Tarlac', 'Cotabato', 'Negros Oriental', 'Bohol', 'Albay',
       'Cagayan', 'Palawan', 'Lanao del Sur', 'Davao del Norte',
       'Lanao del Norte', 'Zamboanga del Norte', 'Sulu', 'Zambales',
       'Masbate', 'Oriental Mindoro', 'Sultan Kudarat', 'Bataan',
       'Sorsogon', 'Benguet', 'La Union', 'Capiz', 'Samar',
       'Davao de Oro', 'Agusan del Norte', 'Agusan del Sur', 'Ilocos Sur',
       'Zamboanga Sibugay', 'Surigao del Sur', 'Northern Samar',
       'Camarines Norte', 'Misamis Occidental', 'Aklan', 'Antique',
       'Ilocos Norte', 'Davao Oriental', 'Sarangani', 'Basilan',
       'Surigao del Norte', 'Occidental Mindoro', 'Nueva Vizcaya',
       'Eastern Samar', 'Tawi-tawi', 'Southern Leyte', 'Davao Occidental',
       'Romblon', 'Catanduanes', 'Abra', 'Marinduque', 'Aurora',
       'Kalinga', 'Ifugao', 'Quirino', 'Guimaras', 'Biliran',
       'Mountain Province', 'Dinagat Islands', 'Apayao', 'Siquijor',
       'Camiguin', 'Batanes'], dtype=object)

In [67]:
df_prov_pop.dtypes

Province      object
Population    object
dtype: object

In [68]:
df_prov_pop['Population'] = df_prov_pop['Population'].str.replace(',','')

df_prov_pop.head()

       Province Population
0  Metro Manila   13484462
1          Cebu    5151274
2        Cavite    4344829
3       Bulacan    3708890
4        Laguna    3382193

In [69]:
df_prov_pop.dtypes

Province      object
Population    object
dtype: object

In [70]:
df_prov_pop["Population"] = df_prov_pop["Population"].astype('int')

In [71]:
df_prov_pop.dtypes

Province      object
Population     int32
dtype: object

In [72]:
df_prov_pop.columns = [x.lower() for x in df_prov_pop.columns]
df_prov_pop.columns = df_prov_pop.columns.str.replace("[ ]", "_", regex=True)
df_prov_pop.head()

       province  population
0  Metro Manila    13484462
1          Cebu     5151274
2        Cavite     4344829
3       Bulacan     3708890
4        Laguna     3382193

In [73]:
df_prov_pop.to_csv("transformed_data/province_population.csv", index = False)

### Transform coordinates data

In [74]:
df_coordinates = pd.read_csv("extracted_data/province_coordinates.csv")
df_coordinates.tail()

     Latitude   Longitude
78  18.089133  121.193152
79   9.213120  123.515480
80   9.172630  124.719122
81  20.760404  121.836337
82  14.164863  120.861630

In [75]:
df_coordinates.dtypes

Latitude     float64
Longitude    float64
dtype: object

In [76]:
df_prov_coordinates = pd.DataFrame(columns=['province','latitude', 'longitude'])

df_prov_coordinates["province"] = df_prov_pop.province
df_prov_coordinates["latitude"] = df_coordinates.Latitude
df_prov_coordinates["longitude"] = df_coordinates.Longitude

df_prov_coordinates.head()

       province   latitude   longitude
0  Metro Manila  14.606798  121.032457
1          Cebu  10.299220  123.896190
2        Cavite  14.256197  120.870039
3       Bulacan  14.781080  120.878340
4        Laguna  14.239511  121.360971

In [77]:
# Determine if there are missing values
df_prov_coordinates.isnull().sum()

province     0
latitude     0
longitude    0
dtype: int64

In [78]:
df_prov_coordinates.to_csv("transformed_data/province_coordinates.csv", index = False)

### Transform venues data

In [79]:
df_venues = pd.read_csv("extracted_data/province_venues.csv")
df_venues.tail()

,Province,Venue Name,Venue Category,Venue Lat,Venue Long,Address
183,Philippines,Sigtuna Hall,Concert Hall,14.096842,120.938537,"4120 Tagaytay, Cavite"
184,Philippines,AUP Amphitheatre,Theater,14.215625,121.032162,"4118 Silang, Cavite"
185,Philippines,Aurora Ballroom,Concert Hall,14.124100,120.990700,4120 Tagaytay
186,Philippines,Olivarez College Amphitheatre,Amphitheater,14.118809,120.964013,4120 Tagaytay
187,Philippines,Rocina's Events Venue,Event Space,14.191610,120.992452,4118 Silang

In [80]:
df_venues.columns = [x.lower() for x in df_venues.columns]
df_venues.columns = df_venues.columns.str.replace("[ ]", "_", regex=True)
df_venues.tail()

,province,venue_name,venue_category,venue_lat,venue_long,address
183,Philippines,Sigtuna Hall,Concert Hall,14.096842,120.938537,"4120 Tagaytay, Cavite"
184,Philippines,AUP Amphitheatre,Theater,14.215625,121.032162,"4118 Silang, Cavite"
185,Philippines,Aurora Ballroom,Concert Hall,14.124100,120.990700,4120 Tagaytay
186,Philippines,Olivarez College Amphitheatre,Amphitheater,14.118809,120.964013,4120 Tagaytay
187,Philippines,Rocina's Events Venue,Event Space,14.191610,120.992452,4118 Silang

In [81]:
df_venues = df_venues[df_venues.province != "Philippines"]
df_venues.tail()

,province,venue_name,venue_category,venue_lat,venue_long,address
173,Guimaras,District 21 KTV,Music Venue,10.706619,122.552727,"Diversion Road, 5000 Iloilo City, Iloilo"
174,Guimaras,Musikous Jam And Rehearsal Studio,Music Venue,10.731152,122.552823,Cornercabangbang & lopez jaena Street (cabangb...
175,Guimaras,The Mellow Mangrove,Bar,10.700688,122.558323,"5000 Iloilo City, Iloilo"
176,Mountain Province,Friends Country Music Bar,Concert Hall,16.917231,121.057959,3601 Banaue
177,Camiguin,Langob KTV Bar,Karaoke Bar,9.250046,124.715879,"Rizal Street, 9100 Mambajao, Camiguin"

In [82]:
df_venues.dtypes

province           object
venue_name         object
venue_category     object
venue_lat         float64
venue_long        float64
address            object
dtype: object

In [83]:
df_quezon = df_venues[df_venues.province == "Quezon"]
df_quezon.head()

,province,venue_name,venue_category,venue_lat,venue_long,address
88,Quezon,The Big Tent Venue,Rest Area,14.685582,121.075426,"Holy Spirit Drv., Quezon City, Quezon City"
89,Quezon,The Venue,Other Great Outdoors,14.614474,121.120709,NaN
90,Quezon,BGC Arts Center,Performing Arts Venue,14.547880,121.049943,"26th Street (at 9th Ave), 1600 Taguig"
91,Quezon,Cowboy Grill,Music Venue,14.578320,120.980635,"A. Mabini Corner Arquiza Street (Arquiza st), ..."
92,Quezon,Peta Theater Center,Music Venue,14.624319,121.026294,"Street Peter Julian Eymard Drive, 1112 Quezon ..."

In [84]:
df_quezon.province = "Metro Manila"
df_quezon.head()

C:\Users\Sandy Lauguico\AppData\Local\Temp\ipykernel_107548\1105046765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_quezon.province = "Metro Manila"

,province,venue_name,venue_category,venue_lat,venue_long,address
88,Metro Manila,The Big Tent Venue,Rest Area,14.685582,121.075426,"Holy Spirit Drv., Quezon City, Quezon City"
89,Metro Manila,The Venue,Other Great Outdoors,14.614474,121.120709,NaN
90,Metro Manila,BGC Arts Center,Performing Arts Venue,14.547880,121.049943,"26th Street (at 9th Ave), 1600 Taguig"
91,Metro Manila,Cowboy Grill,Music Venue,14.578320,120.980635,"A. Mabini Corner Arquiza Street (Arquiza st), ..."
92,Metro Manila,Peta Theater Center,Music Venue,14.624319,121.026294,"Street Peter Julian Eymard Drive, 1112 Quezon ..."

In [85]:
df_venues_qc_filtered = df_venues[df_venues.province != "Quezon"]

In [86]:
df_venues_transformed = pd.concat([df_venues_qc_filtered, df_quezon])
df_venues_transformed.tail(100)

,province,venue_name,venue_category,venue_lat,venue_long,address
78,Iloilo,Tiesto,Music Venue,10.702554,122.551145,"Boardwalk Avenue, 5000 Iloilo City, Iloilo"
79,Iloilo,Room 9 M02 Annex,Music Venue,10.704833,122.551028,NaN
80,Iloilo,MO2 Annex,Music Venue,10.705117,122.550705,NaN
81,Iloilo,Musikous Jam And Rehearsal Studio,Music Venue,10.731152,122.552823,Cornercabangbang & lopez jaena Street (cabangb...
82,Iloilo,The Mellow Mangrove,Bar,10.700688,122.558323,"5000 Iloilo City, Iloilo"
...,...,...,...,...,...,...
93,Metro Manila,70's Bistro,Rock Club,14.630650,121.061519,"46 Anonas Street, 1102 Quezon City, Quezon City"
94,Metro Manila,Philippine International Convention Center,Convention Center,14.554414,120.983190,"CCP Complex, Roxas Boulevard, 1307 Pasay, Pasa..."
95,Metro Manila,Sky Dome,Amphitheater,14.655750,121.031423,"Sky Garden, SM City North EDSA Complex (btwn E..."
96,Metro Manila,The PICC Forum,Business and Professional Services,14.555209,120.984351,"Roxas Boulevard, Pasay, Pasay City"
97,Metro Manila,UP College of Music Mini Hall,Music Venue,14.655436,121.061693,"1101 Quezon City, Quezon City"

In [87]:
df_venues_transformed.province.unique()

array(['Metro Manila', 'Cebu', 'Cavite', 'Bulacan', 'Laguna', 'Rizal',
       'Pangasinan', 'Batangas', 'Pampanga', 'Iloilo', 'Davao del Sur',
       'Nueva Ecija', 'Camarines Sur', 'Zamboanga del Sur',
       'Misamis Oriental', 'Maguindanao', 'Bukidnon', 'Tarlac',
       'Cotabato', 'Bohol', 'Albay', 'Lanao del Sur', 'Sultan Kudarat',
       'Bataan', 'Benguet', 'La Union', 'Samar', 'Agusan del Norte',
       'Ilocos Sur', 'Surigao del Sur', 'Aklan', 'Ilocos Norte',
       'Sarangani', 'Occidental Mindoro', 'Nueva Vizcaya',
       'Eastern Samar', 'Aurora', 'Ifugao', 'Quirino', 'Guimaras',
       'Mountain Province', 'Camiguin'], dtype=object)

In [88]:
df_venues_transformed.to_csv("transformed_data/province_venues.csv", index = False)