In [1]:
import pandas as pd

### Transform province and population data

In [3]:
df_prov_pop = pd.read_csv("extracted_data/province_population.csv")
df_prov_pop.head()

       Province  Population
0  Metro Manila  13,484,462
1          Cebu   5,151,274
2        Cavite   4,344,829
3       Bulacan   3,708,890
4        Laguna   3,382,193

In [4]:
df_prov_pop.value_counts()

Province           Population
Abra               250,985        1
Philippines        109,033,245    1
Pampanga           2,900,637      1
Palawan            1,246,673      1
Oriental Mindoro   908,339        1
                                 ..
Davao Occidental   317,159        1
Cotabato           1,490,618      1
Cebu               5,151,274      1
Cavite             4,344,829      1
Zamboanga del Sur  2,027,902      1
Name: count, Length: 83, dtype: int64

In [6]:
df_prov_pop['Province'].unique()

array(['Metro Manila', 'Cebu', 'Cavite', 'Bulacan', 'Laguna', 'Rizal',
       'Negros Occidental', 'Pangasinan', 'Batangas', 'Pampanga',
       'Iloilo', 'Davao del Sur', 'Nueva Ecija', 'Quezon',
       'Camarines Sur', 'Leyte', 'Zamboanga del Sur', 'Isabela',
       'Misamis Oriental', 'South Cotabato', 'Maguindanao', 'Bukidnon',
       'Tarlac', 'Cotabato', 'Negros Oriental', 'Bohol', 'Albay',
       'Cagayan', 'Palawan', 'Lanao del Sur', 'Davao del Norte',
       'Lanao del Norte', 'Zamboanga del Norte', 'Sulu', 'Zambales',
       'Masbate', 'Oriental Mindoro', 'Sultan Kudarat', 'Bataan',
       'Sorsogon', 'Benguet', 'La Union', 'Capiz', 'Samar',
       'Davao de Oro', 'Agusan del Norte', 'Agusan del Sur', 'Ilocos Sur',
       'Zamboanga Sibugay', 'Surigao del Sur', 'Northern Samar',
       'Camarines Norte', 'Misamis Occidental', 'Aklan', 'Antique',
       'Ilocos Norte', 'Davao Oriental', 'Sarangani', 'Basilan',
       'Surigao del Norte', 'Occidental Mindoro', 'Nueva Vizcaya',
       'Eastern Samar', 'Tawi-tawi', 'Southern Leyte', 'Davao Occidental',
       'Romblon', 'Catanduanes', 'Abra', 'Marinduque', 'Aurora',
       'Kalinga', 'Ifugao', 'Quirino', 'Guimaras', 'Biliran',
       'Mountain Province', 'Dinagat Islands', 'Apayao', 'Siquijor',
       'Camiguin', 'Batanes', 'Philippines'], dtype=object)

In [7]:
df_prov_pop = df_prov_pop[df_prov_pop.Province != "Philippines"]
df_prov_pop['Province'].unique()

array(['Metro Manila', 'Cebu', 'Cavite', 'Bulacan', 'Laguna', 'Rizal',
       'Negros Occidental', 'Pangasinan', 'Batangas', 'Pampanga',
       'Iloilo', 'Davao del Sur', 'Nueva Ecija', 'Quezon',
       'Camarines Sur', 'Leyte', 'Zamboanga del Sur', 'Isabela',
       'Misamis Oriental', 'South Cotabato', 'Maguindanao', 'Bukidnon',
       'Tarlac', 'Cotabato', 'Negros Oriental', 'Bohol', 'Albay',
       'Cagayan', 'Palawan', 'Lanao del Sur', 'Davao del Norte',
       'Lanao del Norte', 'Zamboanga del Norte', 'Sulu', 'Zambales',
       'Masbate', 'Oriental Mindoro', 'Sultan Kudarat', 'Bataan',
       'Sorsogon', 'Benguet', 'La Union', 'Capiz', 'Samar',
       'Davao de Oro', 'Agusan del Norte', 'Agusan del Sur', 'Ilocos Sur',
       'Zamboanga Sibugay', 'Surigao del Sur', 'Northern Samar',
       'Camarines Norte', 'Misamis Occidental', 'Aklan', 'Antique',
       'Ilocos Norte', 'Davao Oriental', 'Sarangani', 'Basilan',
       'Surigao del Norte', 'Occidental Mindoro', 'Nueva Vizcaya',
       'Eastern Samar', 'Tawi-tawi', 'Southern Leyte', 'Davao Occidental',
       'Romblon', 'Catanduanes', 'Abra', 'Marinduque', 'Aurora',
       'Kalinga', 'Ifugao', 'Quirino', 'Guimaras', 'Biliran',
       'Mountain Province', 'Dinagat Islands', 'Apayao', 'Siquijor',
       'Camiguin', 'Batanes'], dtype=object)

In [10]:
df_prov_pop.dtypes

Province      object
Population    object
dtype: object

In [11]:
df_prov_pop['Population'] = df_prov_pop['Population'].str.replace(',','')

df_prov_pop.head()

C:\Users\Sandy Lauguico\AppData\Local\Temp\ipykernel_107548\2996649149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prov_pop['Population'] = df_prov_pop['Population'].str.replace(',','')

       Province Population
0  Metro Manila   13484462
1          Cebu    5151274
2        Cavite    4344829
3       Bulacan    3708890
4        Laguna    3382193

In [12]:
df_prov_pop.dtypes

Province      object
Population    object
dtype: object

In [13]:
df_prov_pop["Population"] = df_prov_pop["Population"].astype('int')

C:\Users\Sandy Lauguico\AppData\Local\Temp\ipykernel_107548\2314577671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prov_pop["Population"] = df_prov_pop["Population"].astype('int')

In [14]:
df_prov_pop.dtypes

Province      object
Population     int32
dtype: object

In [31]:
df_prov_pop.columns = [x.lower() for x in df_prov_pop.columns]
df_prov_pop.columns = df_prov_pop.columns.str.replace("[ ]", "_", regex=True)
df_prov_pop.head()

       province  population
0  Metro Manila    13484462
1          Cebu     5151274
2        Cavite     4344829
3       Bulacan     3708890
4        Laguna     3382193

In [34]:
df_prov_pop.to_csv("transformed_data/province_population.csv", index = False)

### Transform coordinates data

In [29]:
df_coordinates = pd.read_csv("extracted_data/province_coordinates.csv")
df_coordinates.tail()

     Latitude   Longitude
78  18.089133  121.193152
79   9.213120  123.515480
80   9.172630  124.719122
81  20.760404  121.836337
82  14.164863  120.861630

In [18]:
df_coordinates.dtypes

Latitude     float64
Longitude    float64
dtype: object

In [33]:
df_prov_coordinates = pd.DataFrame(columns=['province','latitude', 'longitude'])

df_prov_coordinates["province"] = df_prov_pop.province
df_prov_coordinates["latitude"] = df_coordinates.Latitude
df_prov_coordinates["longitude"] = df_coordinates.Longitude

df_prov_coordinates.head()

       province   latitude   longitude
0  Metro Manila  14.606798  121.032457
1          Cebu  10.299220  123.896190
2        Cavite  14.256197  120.870039
3       Bulacan  14.781080  120.878340
4        Laguna  14.239511  121.360971

In [26]:
# Determine if there are missing values
df_prov_coordinates.isnull().sum()

Province     0
Latitude     0
Longitude    0
dtype: int64